# Screen like prefix
set -g prefix M-t
bind-key M-t last-window

bind r source-file ~/.tmux.conf

set -g default-terminal "screen-256color"

#detach
bind -n M-d detach

#kill pane
bind -n M-X kill-pane

#vim bindings for mooving between the panes
unbind-key l
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Use Alt-vim keys without prefix key to switch panes
bind -n M-h select-pane -L
bind -n M-j select-pane -D 
bind -n M-k select-pane -U
bind -n M-l select-pane -R

#use vim resize keys
bind -n M-< resize-pane -L 8
bind -n M-> resize-pane -R 8
bind -n M-- resize-pane -D 8
bind -n M-= resize-pane -U 8

#split like vim
bind -n M-s split-window -v
bind -n M-v split-window -h
